@import "global";

header{
    position: fixed;
    top: 0;
    border-top: 30px;
    width: 100%;
}

.presentacio{
    padding-top: 150px;
    padding-bottom: 50px;
}

//Anidar
nav{
@include caja-flex(space-between, center, nowrap)
}